<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhichao.clothes.mapper.MeasurementMapper">
    <select id="getMeasurementById" resultType="com.zhichao.clothes.vo.measurement.MeasurementVo">
        select
               height,
               weight,
               bust,
               waist,
               hip,
               leg_length,
               shoulder_width,
               phone,
               nickname,
               email
        from user_body_measurement ubm
                join user_info ui on ubm.user_id = ui.id
        where ui.id = #{id}
    </select>
</mapper>